#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

#inventory {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;

  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#movement {
  position: absolute;
  bottom: 10px; /* Aligned to the bottom */
  right: 10px; /* Aligned to the right */
  z-index: 1000;

  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#movement button {
  width: 100%;
  margin: 5px;
}

#perm-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;

  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#perm-controls button {
  margin: 5px;
}
